<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../stylesheet.css" />
    <title>File details</title>
</head>
<body>
{% include 'login2.twig' %}
<h1>
    File details
</h1>
    <div class="flash-notice">
        {% for header in session.getFlashBag.get('header', []) %}
            <h3>{{ header }}</h3>
        {% endfor %}
        {% for message in session.getFlashBag.get('message', []) %}
            <p>{{ message }}</p>
            <p><a href = "../">Back </a></p>
        {% endfor %}
    </div>
    {% if file %}
    <pre>
        </pre>
    <div id="filliste">
        <ul>
            {% if file.getType() == 'image/jpeg' or  file.getType() == 'image/pjpeg' or file.getType() == 'image/png' or file.getType() == 'image/gif'%}
                <a href="../?id={{file.getFileId}}"><img src="../thumbnail.php?id={{file.getFileId}}" alt="{{file.getTitle}}" /></a>
            {% else %}
                    <li>
                        {{file.getDate}}&nbsp;<a href="../?id={{file.getFileId}}">{{file.getFilename()}}</a>
                    </li>
            {% endif %}
            <li>
                Title: {{ file.getTitle() }}
            </li>
            <li>
                Type: {{ file.getType() }}
            </li>
            <li>
                Size: {{ file.getSize() / 1000 }} kilo bytes
            </li>
            <li>
                Author: {{ file.getOwner() }}
            </li>
            <li>
                Catalog Path: {{ file.getCatalogName() }}
            </li>
            <li>
                Description: {{ file.getDescription() }}
            </li>
            <li>
                Tags: <p id="tags"></p>
            </li>
                <script>
                    <!-- koden er tatt fra http://jsfiddle.net/UH5U9/3/ found in StackOverflow
                        https://stackoverflow.com/questions/10022781/generate-search-links-for-comma-separated-words -->
                    var tags = "{{ file.getTags() }}";
                    tags = tags.split(', ');
                    var temp = '';
                    for (var i = 0; i < tags.length; i++) {
                        temp = temp + '<a class="tag button-white" href="../?tag=' + tags[i] + '">' + tags[i] + '</a>' + '&nbsp; &nbsp;';
                    }
                    document.getElementById("tags").innerHTML = temp;
                </script>
        </ul>
    </div>
        {% if isOwner %}
            <p><a href="file-edit/?id={{file.getFileId}}" class="button-white">Edit file</a></p>
            {% endif %}
        {% if user.isAdmin() or isOwner %}
            <form method="post" onsubmit="return confirm('Are you sure to delete the file?');">
                <input type="hidden" value="{{ getMac("Delete file") }}" name="XSRFPreventionToken">
            <input type="submit" name="Delete_file" value="Delete file" class="delete" />
            </form>
            {% endif %}
        <h3>Comments:</h3>
        {% for comment in comments %}
            <p><div class="comment"><div class="comment-text">
                    <a href="{{rel}}profile-page/?username={{ comment.username }}">{{ comment['username'] }}</a>
                {{ comment['comment'] }}
            <br> <span class="comment-date">{{ comment['date'] }}</span></div>
            {% if comment['username'] == user.getUsername() or user.isAdmin() == 1 %}
                <form method="post" id="delete_comment">
                    <input type="hidden" value="{{ getMac("Delete comment") }}" name="XSRFPreventionToken">
                    <input type="hidden" value="{{comment['commentId']}}" name="commentid" />
                    <input type="submit" name="Delete_comment" value="Delete comment" class="comment-delete" />
                </form></div></p>
            {% else %}</div></p>
            {% endif %}

        {% endfor %}

        {% if user %}
            <form  method="post">
            <label>Comment: </label>
                <input type="hidden" value="{{ getMac("Post comment") }}" name="XSRFPreventionToken">
            <br><textarea type="text" name="commenttext" rows="3" cols="25" maxlength=65535 ></textarea>
               <br><input type="submit" name="comment" value="Comment" />
            </form>
            {% endif %}
{% endif %}
<p><a href = "../"><img src="{{rel}}Images/BackBtn.svg" alt="Back" id="back"></a></p>

</body>
</html>