<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File details</title>
</head>
<body>
{% include 'login2.twig' %}

    <div class="flash-notice">
        {% for header in session.getFlashBag.get('header', []) %}
            <h2>{{ header }}</h2>
        {% endfor %}
        {% for message in session.getFlashBag.get('message', []) %}
            <h2>{{ message }}</h2>
        {% endfor %}
    </div>
    {% if file %}
    <h1>
        Detaljer om fil:
    </h1>
    <pre>
        </pre>
    <div id="filliste">
        <ul>
            {% if file.getType() == 'image/jpeg' or  file.getType() == 'image/pjpeg' or file.getType() == 'image/png' or file.getType() == 'image/gif'%}
                <a href="../?id={{file.getFileId}}"><img src="../thumbnail.php?id={{file.getFileId}}" width="10%"/></a>
            {% elseif file.getType() == 'video/mp4' or file.getType() == 'video/webm' or file.getType() == 'video/ogg' %}
                <video width="25%" height="100%" controls>
                    <source src="../?id={{file.getFileId()}}" type="{{file.getType()}}">
                </video>
            {% else %}
                    <li>
                        {{file.getDate}}&nbsp;<a href="../?id={{file.getFileId}}">{{file.getFilename()}}</a>
                    </li>
            {% endif %}
            <li>
                Title: {{ file.getTitle() }}
            </li>
            <li>
                Size: {{ file.getSize() }}
            </li>
            <li>
                Owner: {{ file.getOwner() }}
            </li>
            <li>
                Description: {{ file.getDescription() }}
            </li>
            <li>
                Catalog Path: {{ file.getCatalogName() }}
            </li>
            <li>
                <p id="tags"></p>
            </li>
            <li>
                <script>
                    <!-- koden er tatt fra http://jsfiddle.net/UH5U9/3/ found in StackOverflow
                        https://stackoverflow.com/questions/10022781/generate-search-links-for-comma-separated-words -->
                    var tags = "{{ file.getTags() }}";
                    tags = tags.split(', ');
                    var temp = '';
                    for (var i = 0; i < tags.length; i++) {
                        temp = temp + '<a href="../?tag=' + tags[i] + '">' + tags[i] + '</a>' + '&nbsp; &nbsp;';
                    }
                    document.getElementById("tags").innerHTML = temp;
                </script>
            </li>

        </ul>
    </div>
        {% if isOwner %}
            <p><a href="file-edit/?id={{file.getFileId}}">Edit file</a></p>
            {% endif %}
        {% if user.isAdmin() or isOwner %}
            <form method="post">
                <input type="hidden" value="{{ getMac("Delete file") }}" name="XSRFPreventionToken">
            <input type="submit" name="Delete_file" value="Delete file" />
            </form>
            {% endif %}
        {% for comment in comments %}
        {{ comment['date'] }}
        {{ comment['username'] }}
        <p>{{ comment['comment'] }}</p>
            {% if comment['username'] == user.getUsername() or user.isAdmin() == 0 %}
                <form method="post">
                    <input type="hidden" value="{{ getMac("Delete comment") }}" name="XSRFPreventionToken">
                    <input type="hidden" value="{{comment['commentId']}}" name="commentid" />
                    <input type="submit" name="Delete_comment" value="Delete comment" />
                </form>
            {% endif %}

        {% endfor %}

        {% if user %}
            <form  method="post">
            <label>Comment: </label>
                <input type="hidden" value="{{ getMac("Post comment") }}" name="XSRFPreventionToken">
            <textarea type="text" name="commenttext" rows="2" cols="20" maxlength=255 ></textarea>
                <input type="submit" name="comment" value="Comment" />
            </form>
            {% endif %}
{% endif %}

</body>
</html>