<!DOCTYPE html>
<html>
  <head>
    <title>
      Filarkiv - viser filer fra database
    </title>
		<link type="text/css" rel="stylesheet" href="stilark.css" />
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
  {% include 'login2.twig' %}
  {% if notification %}
      <h3>{{ notification.strHeader }}</h3>
      <h3>{{ notification.strMessage }}</h3>
      <p><a href = "index.php">Tilbake </a></p>
  {% else %}
        {% if files %}
        <h1>
            Filarkiv - viser filer fra database:
        </h1>
        <pre>
        </pre>
		<div id="filliste">
            <ul>
                  {% for file in files %}
                           {% if file.type == 'image/jpeg' or  file.type == 'image/pjpeg' or file.type == 'image/png' or file.type == 'image/gif'%}
                               <a href="{{script}}?id={{file.fileId}}"><img src="{{script}}?id={{file.fileId}}" width="10%"/></a>
                               <a href="{{script}}/file-details/?id={{file.fileId}}"> Details </a>
                           {% elseif file.type == 'video/mp4' or file.type == 'video/webm' or file.type == 'video/ogg' %}
                          <video width="25%" height="100%" controls>
                              <source src="{{script}}?id={{fil.fileId}}" type="{{file.type}}">
                          </video>
                       {% else %}
                               <li>
                                {{file.uploadedDate}}&nbsp;<a href="{{script}}?id={{file.fileId}}">{{file.filename}}</a>
                               </li>
                           {% endif %}
                  {% endfor %}
            </ul>
        </div>
        {% endif %}
      <p>Last opp fil til db: </p>
        {% if user.loggedIn() %}
      <form enctype="multipart/form-data" method="post">
           <input type="hidden" name="MAX_FILE_SIZE" value="5365536" />
              <table border="1" cellspacing="0" cellpadding="5" width=
              "400">
                <tr>
                  <td>
                    <input name="bildeFil" type="file" />
                  </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" name="access" value="0">
                        Only accessible for registered users
                    </td>
                  <tr><td><label>Title: </label>
                      <input type="text" name="title"></td></tr>
                  <tr><td><label>Description: </label>
                          <textarea type="text" name="description" rows="2" cols="20"></textarea></table></td>
                <tr><td><label>Tags: </label>
                        <input type="text" name="tags" data-role="tagsinput"></td></tr>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
          <script src="http://bootstrap-tagsinput.github.io/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
          <input type="hidden" value="{{ mac }}" name="XSRFPreventionToken">
                  <td colspan="2" width="400" align="middle">
                    <input type="submit" name="post_file" value="Post" />
                  </td>
          </tr>

              </table>
      </form>
        {% else %}
            <p>Du må logge inn for å laste opp fil</p>
            <a href="{{script}}/register/"> Register here </a>
        {% endif %}

    {% endif %}
  </body>
</html>
