<!DOCTYPE html>
<html>
  <head>
    <title>
      Filarkiv - viser filer fra database
    </title>
		<link type="text/css" rel="stylesheet" href="stilark.css" />
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
  {% include 'login2.twig' %}
  {% if notification %}
      <h3>{{ notification.strHeader }}</h3>
      <h3>{{ notification.strMessage }}</h3>
      <p><a href = "index.php">Tilbake </a></p>
      {% else %}
          <h1>
              Filearchive - showing files
          </h1>
          <pre>
            <p><a href="{{homepath}}file-upload/">Add new</a> </p>
        </pre>
  {% if files %}
		<div id="filliste">
            <ul>
                  {% for file in files %}
                           {% if file.type == 'image/jpeg' or  file.type == 'image/pjpeg' or file.type == 'image/png' or file.type == 'image/gif'%}
                               <a href="{{homepath}}?id={{file.fileId}}"><img src="{{homepath}}?id={{file.fileId}}" width="10%"/></a>
                               <a href="{{homepath}}file-details/?id={{file.fileId}}"> Details </a>
                           {% elseif file.type == 'video/mp4' or file.type == 'video/webm' or file.type == 'video/ogg' %}
                          <video width="25%" height="100%" controls>
                              <source src="{{script}}?id={{fil.fileId}}" type="{{file.type}}">
                          </video>
                       {% else %}
                               <li>
                                {{file.uploadedDate}}&nbsp;<a href="{{homepath}}?id={{file.fileId}}">{{file.filename}}</a>
                               </li>
                           {% endif %}
                  {% endfor %}
            </ul>
        </div>
    {% endif %}
  {% endif %}
  </body>
</html>
