<!DOCTYPE html>
<html>
  <head>
    <title>
      Filarkiv - viser filer fra database
    </title>
		<link type="text/css" rel="stylesheet" href="stilark.css" />
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
  {% include 'login2.twig' %}
  {% if notification %}
      <h3>{{ notification.strHeader }}</h3>
      <h3>{{ notification.strMessage }}</h3>
      <p><a href = "index.php">Tilbake </a></p>
  {% else %}
        {% if files %}
        <h1>
            Filarkiv - viser filer fra database:
        </h1>
        <pre>
        </pre>
		<div id="filliste">
            <ul>
                  {% for file in files %}
                           {% if file.mimetype == 'image/jpeg' or  file.mimetype == 'image/pjpeg' or file.mimetype == 'image/png' or file.mimetype == 'image/gif'%}
                               <a href="{{script}}?id={{file.id}}"><img src="{{script}}?id={{file.id}}" width="10%"/></a>
                               <a href="{{script}}/file-details/?id={{file.id}}"> Details </a>
                           {% elseif file.mimetype == 'video/mp4' or file.mimetype == 'video/webm' or file.mimetype == 'video/ogg' %}
                          <video width="25%" height="100%" controls>
                              <source src="{{script}}?id={{fil.id}}" type="{{file.mimetype}}">
                          </video>
                       {% else %}
                               <li>
                                {{file.dato}}&nbsp;<a href="{{script}}?id={{file.id}}">{{file.filnavn}}</a>
                               </li>
                           {% endif %}
                  {% endfor %}
            </ul>
        </div>
        {% endif %}
      <p>Last opp fil til db: </p>
        {% if user.loggedIn() %}
      <form enctype="multipart/form-data" method="post">
           <input type="hidden" name="MAX_FILE_SIZE" value="5365536" />
              <table border="1" cellspacing="0" cellpadding="5" width=
              "400">
                <tr>
                  <td>
                    <input name="bildeFil" type="file" />
                  </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" name="access" value="0">
                        Only accessible for registered users
                    </td>
                  <td colspan="2" width="400" align="middle">
                    <input type="submit" name="post_file" value="Post" />
                  </td>
                </tr>
              </table>
      </form>
        {% else %}
            <p>Logg inn for å laste opp fil</p>
        {% endif %}

    {% endif %}
  </body>
</html>
