{% if user %}
    <table id="loggedin_top">
        <tr>
            <td>You are logged in as <a href="{{rel}}profile-page/?username={{ user.getUsername() }}">{{ user.getUsername() }}</a> ({{user.getFullName()}})</td>
            <td>
                <form action="index.php" method="post">
                    <input type="hidden" value="{{ getMac("Logout") }}" name="XSRFPreventionToken">
                    <input type="submit" name="logout" value="Logout">
                </form>
            </td>
        </tr>
    </table>
{% else %}
    <form action="index.php" method="post">
        <table id="loginform_top">
            <tr><td><label>Email: </label> </td>
                <td><input type="text" name="email" class="rounded_input"></td>
                <td><label>Password:</label> </td>
                <td><input type="password" name="password" size="15" class="rounded_input"></td>
                <td>
                    <input type="hidden" value="{{ getMac("Login") }}" name="XSRFPreventionToken">
                    <button type="submit" name="login"  value="Login">Sign in</button>
                </td>
                <td>
                    <a href="{{rel}}register/" class="button_white">Register </a>
                </td>
            </tr>
        </table>
    </form>
    <p>Logg inn med bruker: "aka160@post.uit.no" & passord: "test"</p>
{% endif %}